<h1>Driver Show Page</h1>
<p>
    <%= driver.driverName %> and works in:  <%= driver.companys.forEach(company =>{
    <%= company.name %>
    }) %>
</p>
<p>
    <%= driver.driverAge %> and works in:  <%= driver.companys.forEach(company =>{
    <%= company.name %>
    }) %>
</p>
<p>
    <%= driver.driverImage %> and works in:  <%= driver.companys.forEach(company =>{
    <%= company.name %>
    }) %>
</p>
<form>
    <a href ="/drivers">Back</a>
  </form>